<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\Temp\EmiGroup\NLogSample\NLogInfo.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="All_Logs" fileName="c:\Temp\EmiGroup\NlogSample\All_Logs.log"></target>
    <target xsi:type="File" name="Log_Warning" fileName="c:\Temp\EmiGroup\NlogSample\Log_Warning.log"></target>
    <target xsi:type="File" name="Log_Error" fileName="c:\Temp\EmiGroup\NlogSample\Log_Error.log"></target>
  </targets>

  <rules>
    <logger name="*" minLevel="Debug" writeTo="All_Logs"></logger>
    <logger name="*" minLevel="Warn" maxLevel="Warn" writeTo="Log_Warning"></logger>
    <logger name="*" minLevel="Error" writeTo="Log_Error"></logger>
  </rules>
</nlog>